<div class="price_range">
  <p>Price Range:</p>
  <% case @restaurant.price_range %>
    <% when 10 %>
      <p>$</p>
    <% when 20 %>
      <p>$$</p>
    <% when 30 %>
      <p>$$$</p>
    <% when 40 %>
      <p>$$$$</p>
    <% when 50 %>
      <p>$$$$$</p>
  <% end %>
</div>
