<% @restaurants.each do |restaurant| %>

  <div class="restaurant">
    <p>
      <%= link_to restaurant.name, "restaurants/#{restaurant.id}" %>
    </p>
    <p>
      <%= restaurant.address %>
    </p>
    <p>
      <%= restaurant.phone_number %>
    </p>
  </div>

<% end %>
